{% extends "base.html" %}
{% load static %}

{% block title %}
Password Reset Complete
{% endblock %}

{% block page_css %}

<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}
{% block page_footer %}{% endblock  %}

{% block content %}

<main class="auth-page">

<div class="auth-card">

    <a href="{% url 'home' %}" class="auth-logo">

        <span class="auth-logo-mark">
            <i class="fa-solid fa-graduation-cap"></i>
        </span>

        <span>
            SCOOLMA<span>SITE</span>
        </span>

    </a>


    <div class="auth-success-icon">
        <i class="fa-solid fa-circle-check"></i>
    </div>


    <div class="auth-form-header">

        <p class="auth-eyebrow">
            PASSWORD UPDATED
        </p>

        <h1>
            You're all set
        </h1>

        <p>
            Your password has been successfully changed.
            You can now sign in using your new password.
        </p>

    </div>


    <a
        href="{% url 'login' %}"
        class="auth-submit auth-link-button"
    >
        <i class="fa-solid fa-right-to-bracket"></i>
        Login to Scoolmasite
    </a>

</div>


</main>

{% endblock %}
